In [26]:
import pandas as pd

In [92]:
df = pd.read_csv('/Users/luzi/Desktop/pythonAssignement/ml-exercises/data/dow-jones/dow_jones_index.csv')

In [93]:
df.head(5)

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [99]:
df1.dropna(inplace=True)

In [100]:
df1['date'] = df['date'].astype('datetime64[ns]')

In [104]:
df1['next_weeks_close'] = df1['next_weeks_close'].str.replace('$', '')
df1['next_weeks_open'] = df1['next_weeks_open'].str.replace('$', '')
df1['open'] = df1['open'].str.replace('$', '')
df1['close'] = df1['close'].str.replace('$', '')
df1['low'] = df1['low'].str.replace('$', '')
df1['high'] = df1['high'].str.replace('$', '')

/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['next_weeks_close'] = df1['next_weeks_close'].str.replace('$', '')
/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['next_weeks_open'] = df1['next_weeks_open'].str.replace('$', '')
/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['open'] = df1['open'].str.replace('$', '')
/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['close'] = df1['close'].str.replace('$', '')
/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['low'] = df1['low'].str.replace('$', '')
/var/folders/60/b59yh0f10dn10yn_3tns4q84r1cn7t/T/ipykernel_45637/309027289.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['high'] = df1['high'].str.replace('$', '')

In [123]:
df1['next_weeks_close'] = df1['next_weeks_close'].astype(float)
df1['next_weeks_open'] = df1['next_weeks_open'].astype(float)
df1['open'] = df1['open'].astype(float)
df1['close'] = df1['close'].astype(float)
df1['low'] = df1['low'].astype(float)
df1['high'] = df1['high'].astype(float)

df1['percent_change_price'] = df1['percent_change_price'].astype(float)
df1['percent_change_volume_over_last_wk	'] = df1['percent_change_volume_over_last_wk'].astype(float)
df1['previous_weeks_volume'] = df1['previous_weeks_volume'].astype(float)

In [124]:
df1.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend,percent_change_volume_over_last_wk\t
1,1,AA,2011-01-14,16.71,16.71,15.64,15.97,242963398,-4.428490,1.380223,239655616.0,16.19,15.79,-2.470660,19,0.187852,1.380223
2,1,AA,2011-01-21,16.19,16.38,15.60,15.79,138428495,-2.470660,-43.024959,242963398.0,15.87,16.13,1.638310,12,0.189994,-43.024959
3,1,AA,2011-01-28,15.87,16.63,15.82,16.13,151379173,1.638310,9.355500,138428495.0,16.18,17.14,5.933250,5,0.185989,9.355500
4,1,AA,2011-02-04,16.18,17.39,16.18,17.14,154387761,5.933250,1.987452,151379173.0,17.33,17.37,0.230814,97,0.175029,1.987452
5,1,AA,2011-02-11,17.33,17.48,16.97,17.37,114691279,0.230814,-25.712195,154387761.0,17.39,17.28,-0.632547,90,0.172712,-25.712195

In [90]:
df1.dropna(inplace=True)

In [113]:
df1.close.mean()

53.82548611111113

In [114]:
df1.close.mode()

0    33.07
1    36.00
2    41.52
3    46.25
Name: close, dtype: float64

In [120]:
df1.close.min()

10.52

In [121]:
df1.close.max()

170.58