In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [2]:
df = pd.read_csv('data/purchase/purchase-train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 602 entries, ID to class
dtypes: int64(602)
memory usage: 45.9 MB

In [3]:
df.head()

,ID,0,1,2,3,4,5,6,7,8,...,591,592,593,594,595,596,597,598,599,class
0,0,0,0,0,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,86
1,1,0,0,0,1,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,81
2,2,0,1,1,1,1,1,1,0,0,...,1,0,1,0,1,0,0,0,0,3
3,3,0,1,0,1,1,1,1,0,0,...,0,1,0,0,1,0,0,0,0,19
4,4,0,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,76

In [4]:
df.isnull().sum().sum()

0

In [10]:
pipeline = Pipeline([
    ('clf', LogisticRegression())
])
pipeline.steps

[('clf', LogisticRegression())]

In [6]:
X_train = df.loc[:, df.columns != 'class']
y_train = df['class']

X_test = pd.read_csv('data/purchase/purchase-xtest.csv')
y_test = pd.read_csv('data/purchase/purchase-ytest.csv')

In [11]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [ ]:
pipeline.fit(X_train_scaled, y_train)